.add {
  height: 35px;
  background-color: #3498db; 
  color: #ffffff; 
  cursor: pointer;
  border: none; 
  border-radius: 4px;
  padding: 0 15px; 
  margin-top: 5px;
}

.clean {
  background-color: #E26977;
}